.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.modal_is-opened{
  visibility: visible;
}

.modal__container{
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn{
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  background-image: url(../images/close-icon.svg);
}

.modal__title{
  margin: 0 0 32px;
  font-weight: 500;
  line-height: 100%;
  width: 169px;
  height: 32px;
}

.modal__form{
display: flex;
flex-direction: column;
}

.modal__input{
display: block;
margin: 8px 0 0;
width: 100%;
padding: 16px 12px;
border-radius: 8px;
border: 1px solid #cccccc
}

.modal__label{
margin: 0 0 32px;
font-weight: 500;
font-size: 16px;
font-family: poppins, Arial, Helvetica, sans-serif;
color: #212121;
opacity: 70%;
}

.modal__input::placeholder{
color: #2121214d;
max-width: 88%;
font-family: poppins, Arial, Helvetica, sans-serif;
font-weight: 500;
line-height: 100%;
}

.modal__submit-btn{
  border-radius: 8px;
  max-width: 156px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
}

@media screen and (max-width:400px){
  .modal__submit-btn{
    max-width:100%;
  }
  .modal__input::placeholder{
    font-weight: 500;
    font-size: 16px;
  }
  .modal__input{
    max-width: 88%;
    border: 1px solid #cccccc
  }
}